html, body {
  height: 100%;
  margin: 0;
  font-size:18px;
}
img {
    max-width: 100%;
}

a {
    text-decoration:none;
}
h1, h2 {
    text-align:left;
}

header {
    height:90px;
    padding:10px;
    display:flex;
    flex-direction: row;
}

.main {
    width:100%;
    display: flex;
    flex-direction: column;
}

.content {
    width:80%;
    margin: 0 auto;
    min-height:600px;
}

.main_view {
    display: flex;
    flex-direction: column;
}

.logo {
    width:200px;
    margin-left:30px;
}

.logo a {
    color:red;
}

.search {
    position:absolute;
    left:2%;
    top:50px;

}

.main_tabs {
    margin:0 auto;
    width:600px;

}

.head_login {
    position:absolute;
    right:10px;
    top:10px;
    width:160px;
    text-align:left;
}

.block_messages {
    font-size:15px;
    margin:0 auto;

}
.head_login a, .main_tabs a {
    color:grey;
    font-size:20px;
}

.head_login a:hover, .main_tabs a:hover {
    color:silver;
    cursor: pointer;
    text-decoration:none;
}
.logo a:hover {
    cursor: pointer;
    text-decoration:none;
}


.rubric {
	height:350px;
}

.liked_photo {
	width:500px;
}

.profile_info {
   margin-top:50px;

}

.pagination {
    width:300px;
    text-align:left;
}
footer {
   margin-top:20px;
   display: flex;
   flex-direction: row;
}

footer a{
    color:silver;
}

.channels {
   margin:0 auto;
   height:100px;
   width:200px;
   font-size:20px;
}
.channels-logo {
   display: flex;
   flex-direction: row;

}
.channels-logo .telegram {
    margin-left:20px;

}
.donate {
    margin-right:30px;
    margin-top:-50px;
}

.login_form {
    width:300px;
}
.login_form #email {
    margin-left:20px;
}


a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
/* messages */

ul.messages {
    width:100%;
    list-style-type: none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    height:30px;
    width:300px;
    padding: 4px;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    font-size:20px;
    bot:5px;
    right:1px;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

