{% extends "sales/base.html" %}
{% load thumbnail %}
{% block title %}Профиль пользователя{% endblock %}

{% block content %}
     <p><a href="{% url 'sales:index' %}">Главное меню</a> / Личный кабинет</p>
     <div class="profile">
        <div class="liked_photo">
             <p> Привет {{ user.first_name }} !</p>
        </div>
        <div class="profile_info">
            Вы можете изменить данные профиля:
            <form action="." method="post" class="register_form">
                  {{ user_form.as_p }}
                  {% csrf_token %}
                  <p><input type="submit" value="Сохранить изменения"></p>
            </form>
            <a href="{% url 'password_change' %}"><input type="submit" value="Сменить пароль"></a><br><br>
            <a href="{% url 'logout' %}">Выйти из системы</a>
        </div>
     </div>

{% endblock %}