{% extends "sales/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Лучшие квесты в твоём городе{% endblock %}

{% block content %}
        {% for quest in quests %}
            <div class="post">
                <b><a href="{{ quest.get_absolute_url }}">{{ quest.name }}<br>
                    <img src="{% thumbnail quest.image 300x300 crop %}"></a></b><br>
                    Цена {{ quest.price }} р.<br>
                    Длительность {{ quest.duration }}<br>
                <button><a href="{% url 'sales:order_create' quest.slug %}">Забронировать</a></button>

            </div>
         {% endfor %}
{% endblock %}
