{% extends "sales/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Отчет по продажам{% endblock %}

{% block content %}
    <p><a href="{% url 'sales:index' %}">Главное меню</a> / Отчет по заказам</p>

            <p>Отчет по заказам:</p>
   {% if orders %}
        {% for order in orders %}
            {{ order.manager }}    "{{ order.manager.post }}"
    <table id="table_orders_report">
         <tr>
            <th>Номер заказа</th>
            <th>Статус заказа</th>
            <th>Стоимость заказа</th>
        </tr>
            <tr>
                <td>
                     {{ order.id }}
                </td>
                 <td>
                     {{ order.status.name }}
                </td>
                <td>
                     {{ order.get_total_cost_discount }}
                </td>
            </tr>

        </table> <br>
       {% endfor %}
       <div class="total_completed_orders">
            Итого заказов на сегодня: <b>{{ orders_total_count }}</b> на сумму <b>{{ total_sum_all_orders }} р.</b>
        </div>
    {% endif %}
{% endblock %}