{% extends "sales/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Информация по квесту{% endblock %}

{% block content %}
<div class="main_view">
    <div class="posts">
        {% for quest in quests %}
        {{ quest.name }}
        <a><img src="{% thumbnail quest.image 300x300 crop %}"> {{ quest.name }}</a>
        {% endfor %}
    </div>

    <div class="pagination">
        {% block pagination %}
                {% include "sales/pagination.html" with page=page_obj %}
        {% endblock %}
     </div>
</div>
{% endblock %}
